@model IEnumerable<Jade_Dragon.Models.khuvuc>
@{
    ViewBag.Title = "khuvuc";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<script src="~/Areas/Admin/Public/js/dataTables_min.js"></script>
<link href="~/Areas/Admin/Public/css/Table.css" rel="stylesheet" />

<style>
    .body #form-kv {
        padding: 40px;
        padding-bottom: 0;
        margin-left: 15%;
        padding-top: 0px;
    }
    #map .Search-Search .xoa{
        display: none;
    }
    #map .Search-Search #MuiTen_Bot {
        background-color: wheat;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    #map .Search-Search #MuiTen_Bot:hover {
        background-color: yellow;
    }
    #map .Search-Search #MuiTen_Bot img{
        width: 30px;
    }
</style>

<body onload="initMap()">
    <div class="home">
        <div class="body">

            <div id="map" class="map">
                <div class="Search-Search">
                    <input type="text" id="search-input" placeholder="Tìm kiếm địa điểm">
                    <button id="search-button">Tìm kiếm</button>
                    <button id="MuiTen_Top">
                        <img src="~/Areas/Admin/Public/img/icon_MuiTenTop.jpg" />
                    </button>
                    <button id="MuiTen_Bot" class="xoa">
                        <img src="~/Areas/Admin/Public/img/icon_MuiTenBot.jpg" />
                    </button>
                </div>
            </div>

            <form action="~/Admin/khuvuc/Create" method="post" id="form-kv">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </form>

            <input type="hidden" name="_method" value="PUT" />
            <table id="example" class="display danhmucsp">
                <thead>
                    <tr>
                        <th>Mã khu vực</th>
                        <th>Tên khu vực</th>
                        <th></th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaKhuVuc</td>
                            <td>
                                <form action="@Url.Action("Edit", "khuvuc")" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="MaKhuVuc" value="@item.MaKhuVuc" />
                                    <input type="text" name="TenKhuVuc" value="@item.TenKhuVuc"
                                           style="background: none; border: none; color: aqua;" />
                                    <button type="submit" style="cursor: pointer; padding: 0px 10px 0px 10px;
                                                                background: aqua; font-weight: 500; border-radius: 15px;">
                                        Lưu
                                    </button>
                                </form>
                            </td>
                            <td></td>
                            <td>
                                <a href="@Url.Action("Delete", "khuvuc", new { id = item.MaKhuVuc})">
                                    <img src="~/Style/img/icon/icon-xoa.jpg" />
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>
                <tfoot>
                    <tr>
                        <th>Mã khu vực</th>
                        <th>Tên khu vực</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script src="~/Areas/Admin/Public/js/Map/Map_KhuVuc.js"></script>
</body>


