@model Jade_Dragon.Models.Chat_Admin

@{
    ViewBag.Title = "TinNhanAdmin";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<link href="~/Areas/Admin/Public/css/css_ChatAdmin.css" rel="stylesheet" />

<style>
    .list-chat .list-Group .hidden{
        display: none;
    }
    .list-chat .list-Group li .input {
        height: 35px;
        width: 190px;
        border: 1px solid;
        background: none;
        color: white;
        text-align: center;
    }
    .list-chat .list-Group li .button {
        width: 60px;
    }
</style>

<div class="home">
    <div class="body">
        <div class="body-chat">
            <div class="body-item-chat">
                <div class="list-chat">
                    <div style="height: 5%;"></div>
                    <div class="list-Group list-chat-a">
                        <span>Nhóm chat</span>
                        <ul id="Create_Room">
                            <li class="Show">
                                <button type="submit" id="Create">
                                    <img src="~/Style/img/icon/icon-them.jpg" style="width: 20px;"/>
                                </button>
                            </li>
                            <li class="Create-new">
                                <input type="text" placeholder="Tạo nhóm mới" class="input" id="txtCreate"/>
                                <button type="submit" class="button">Thêm</button>
                                <input type="hidden" id="hihi" value="hehe"/>
                            </li>
                            @*@foreach(var dem in Model.phchat) { 
                                <li><button type="submit" class="btnChatPhong" data-id="@dem.MaPhongChat">
                                        @dem.TenPhongChat
                                    </button>
                                </li>
                            }*@
                        </ul>
                    </div>
                    <div class="list-User list-chat-a">
                        <span>Khách hàng</span>
                        <ul>
                            @foreach (var dem in Model.kh)
                            {
                                <li><button type="submit" class="btnUser" data-id="@dem.MaKh">
                                        @dem.HoTen
                                    </button>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="htchat">
                    <div id="tenphong">Tất cả</div>
                    <input type="hidden" id="idphong" value="1" />
                    <input type="hidden" id="idUser" value="" />

                    <ul id="contentMsg"></ul>
                </div>
            </div>
            <div class="body-send-chat">
                <input type="hidden" id="makh" value="@Session["MaKh"]" />

                <input type="text" id="txtMessage" placeholder="Nhập chat" class="txtchat" />
                <button type="submit" id="btnSend" class="txtchat">Gửi</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Areas/Admin/Public/js/chatadmin.js"></script>


