@model IEnumerable<Jade_Dragon.Models.hoadon>
@{
    ViewBag.Title = "LichSu";
    Layout = "~/Views/Shared/DatPhong_HoaDon.cshtml";
}
<link href="~/Style/css/html/lichsu.css" rel="stylesheet" />
<style>
    .info {
        background: rgba(0,0,0,0.7);
    }
    .info table {
        width: 98%;
        height: 100%;
    }
    .info .tieude-item{
        background-color: black;
    }

    .info tr, td {
        color: white;
    }
</style>

<div class="home">
    <div class="home_body">
        <div class="search--map">
            <form action="" method="post" class="search">
                <div class="row">
                    <div class="tieude">
                        <p>Tìm khách sạn</p>
                    </div> <br>
                    <div class="search--search">
                        <div class="search__container--item">
                            <div class="mucluc">
                                <span>Điểm đến</span>
                            </div>
                            <div class="khuvuc">
                                <select name="" id="">
                                    @foreach (var kv in ViewBag.ListKhuVuc)
                                    {
                                        <option value="">@kv.TenKhuVuc</option>
                                    }
                                </select>
                            </div>
                        </div> <br>
                        <div class="search__container--item">
                            <div class="mucluc">
                                <span>Ngày nhận phòng</span>
                            </div>
                            <input type="date" placeholder="DD-MM-YYYY" class="ngay" />
                        </div> <br>
                        <div class="search__container--item">
                            <div class="mucluc">
                                <span>Ngày trả phòng</span>
                            </div>
                            <input type="date" placeholder="DD-MM-YYYY" class="ngay" />
                        </div> <br>
                        <div class="search__container--item">
                            <div class="mucluc">
                                <span>Loại hình phòng</span>
                            </div>
                            <div class="tuoi">
                                <select name="" id="">
                                    <option>Đơn</option>
                                    <option>Đôi</option>
                                </select>
                            </div>
                        </div> <br>
                        <div class="search__container--item">
                            <div class="mucluc">
                                <span>Thuộc phòng</span>
                            </div>
                            <div class="tuoi">
                                <select name="" id="">
                                    <option>VIP</option>
                                    <option>Thường</option>
                                </select>
                            </div>
                        </div>
                        <div class="search__container--btn">
                            <button type="submit">Tìm kiếm</button>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="info">
            <table>
                <tr class="tieude-item">
                    <td>Mã hóa đơn</td>
                    <td>Tên khách sạn</td>
                    <td>Tên người đặt phòng</td>
                    <td>Số điện thoại</td>
                    <td>Số lượng phòng</td>
                    <td>Ngày đặt</td>
                    <td>Tổng tiền</td>
                    <td>Trạng thái</td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaHoaDon</td>
                        <td>@item.khachsan.TenKhachSan</td>
                        <td>@item.HoTen</td>
                        <td>@item.SoDienThoai</td>
                        <td>@item.SoLuongPhong</td>
                        <td>@item.NgayDat</td>
                        <td>@item.TongTien</td>
                        <td>@item.MaError</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>



