@model Jade_Dragon.Models.HtLichSu

@{
    ViewBag.Title = "lichsu_new";
    Layout = "~/Views/Shared/DatPhong_HoaDon.cshtml";
}

<script type="text/javascript">
    function changeFormAction(targetUrl) {
        var form = document.getElementById('form1');
        form.action = targetUrl;
    }
</script>
<link href="~/Style/css/html/lichsu.css" rel="stylesheet" />
<link href="~/Style/css/html/lichsu2.css" rel="stylesheet" />

<style>
    .search .button_a {
        background: rgba(0,0,0,0.5) !important;
        color: white !important;
        width: 100px !important;
        height: 30px !important;
    }

        .search .button_a:hover {
            background: rgba(0,0,0,0.8) !important;
            color: yellow !important;
        }

    .search .button_tk {
        padding: 0 !important;
        display: block !important;
        margin-top: -30px !important;
    }
</style>

<div class="home">
    <div class="home_body">
        <div class="search--map">
            @*-------------------------------------------------------------------------*@
            <form action="~/GioHang/TimKiemHd" method="post" class="search" id="form1">
                <div class="row">
                    <div class="tieude">
                        <p>Tìm khách sạn</p>
                    </div> <br>
                    <div class="search--search">
                        <div class="search__container--item">
                            <div class="mucluc">
                                <span>Mã hóa Đơn</span>
                            </div>
                            <input type="number" placeholder="Nhập mã hóa đơn" name="mahd" required />
                        </div> <br>
                        <div class="search__container--item">
                            <div class="mucluc">
                                <span>Họ và tên</span>
                            </div>
                            <input type="text" placeholder="nhập họ và tên" name="hoten" required />
                        </div> <br>
                        <div class="search__container--item">
                            <div class="mucluc">
                                <span>CMND/CCCD</span>
                            </div>
                            <input type="number" placeholder="Nhập CMND/CCCD" name="cmnd" required />
                        </div> <br>
                        <div class="search__container--item">
                            <div class="mucluc">
                                <span>Số điện thoại</span>
                            </div>
                            <input type="number" placeholder="Nhập số điện thoại" name="sdt" required />
                        </div> <br>
                        <div class="search__container--btn">
                            <button class="button_a button_tk">Tìm kiếm</button>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="row2">
                    <i>Bạn đã quên mã hóa đơn?</i>
                    <input type="email" placeholder="Nhập gmail của bạn" name="gmail" class="gmail" />
                    <button class="button_a gmail" onclick="changeFormAction('GuiGmail')">
                        Gửi
                    </button>
                </div>
            </form>
            @*-------------------------------------------------------------------------*@
        </div>

        @if (Session["MaHoaDon_a"] == null)
        {
            <div class="info" style="text-align: center">
                <h1 style="color: black; font-size: 70px; margin-top: 100px;">Hãy tìm kiếm</h1>
            </div>
        }
        else
        {
            <div class="info">
                <table>
                    <tr class="tieude-item">
                        <td>Mã hóa đơn</td>
                        <td>Tên khách sạn</td>
                        <td>Tên người đặt phòng</td>
                        <td>Số điện thoại</td>
                        <td>Số lượng phòng</td>
                        <td>Ngày đặt</td>
                        <td>Tổng tiền</td>
                        <td>Trạng thái</td>
                    </tr>
                    @foreach (var item in Model.hd)
                    {
                        <tr style="background-color: black;">
                            <td>@item.MaHoaDon</td>
                            <td>@item.khachsan.TenKhachSan</td>
                            <td>@item.HoTen</td>
                            <td>@item.SoDienThoai</td>
                            <td>@item.SoLuongPhong</td>
                            <td>@item.NgayDat</td>
                            <td>@item.TongTien</td>
                            <td>@item.ErrorPay.TenError</td>
                        </tr>
                        <tr style="background: none;">
                            <td style="border: none;"></td>
                            <td style="border: none;"></td>
                            <td>Mã chi tiết hóa đơn</td>
                            <td>Ngày đến</td>
                            <td>Ngày đi</td>
                            <td>Giá</td>
                            <td>Phòng</td>
                        </tr>
                        foreach (var c in Model.cthd.Where(a => a.MaHoaDon == item.MaHoaDon))
                        {
                            <tr style="background: none;">
                                <td style="border: none;"></td>
                                <td style="border: none;"></td>
                                <td>@c.MaChiTietHoaDon</td>
                                <td>@c.NgayDen</td>
                                <td>@c.NgayDi</td>
                                <td>@c.Gia</td>
                                <td>@c.TenPhong</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        }


    </div>
</div>

