@model IEnumerable<Jade_Dragon.Models.khachhang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/login-logout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheNganHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNganHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheNganHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNganHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaKh }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaKh }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaKh })
        </td>
    </tr>
}

</table>
<script src="~/Style/js/main.js"></script>