@model Jade_Dragon.Models.khachhang

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="home">
    <div class="body">

        <div class="Content" style="margin-top: 56px;">
            @using (Html.BeginForm("Create", "QLKhachHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="Info">
                    <div class="makh one">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                    <div class="tenkh one">
                        <label for="">Avt: </label>
                        <input type="file" id="uploadhinh" name="uploadhinh" accept="image/*"
                               style=" color: aliceblue;" />
                    </div>
                    <div class="tenkh one">
                        <label for="">Tên Khách Hàng: </label>
                        @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                    </div>
                    <div class="sdt one">
                        <label for="">Số điện thoại: </label>
                        @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                    </div>
                    <div class="CMND one">
                        <label for="">CMND / Thẻ Căn cước công dân: </label>
                        @Html.EditorFor(model => model.CMND, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CMND, "", new { @class = "text-danger" })
                    </div>
                    <div class="diachi one">
                        <label for="">Địa chỉ: </label>
                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })

                        <label for="">Gmail: </label>
                        @Html.EditorFor(model => model.Gmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Gmail, "", new { @class = "text-danger" })
                    </div>
                    <div class="Bank_so one">
                        <label for="">Thẻ ngân hàng: </label>
                        @Html.EditorFor(model => model.TheNganHang, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TheNganHang, "", new { @class = "text-danger" })
                    </div>
                    <div class="Bank_ten one">
                        <label for="">Tên ngân hàng: </label>
                        @Html.EditorFor(model => model.TenNganHang, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenNganHang, "", new { @class = "text-danger" })
                    </div>
                    <div class="tendn one">
                        <label for="">Tên đăng nhập: </label>
                        @Html.EditorFor(model => model.TenDn, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenDn, "", new { @class = "text-danger" })
                    </div>
                    <div class="matkhau one">
                        <label for="">Mật Khẩu: </label>
                        @Html.EditorFor(model => model.Mk, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mk, "", new { @class = "text-danger" })

                        <label for="">Cấp quyền: </label>
                        @Html.DropDownList("IDGroup", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDGroup, "", new { @class = "text-danger" })
                    </div>
                    @Html.ValidationMessageFor(model => model.DaXacMinh, "", new { @class = "text-danger" })
                    <div class="one">
                        <input type="submit" class="save two" value="Lưu">
                    </div>
                </div>
            }
            <div class="button">
                <a href="@Url.Action("QuanLyKh", "QLKhachHang")" class="out two">Quay về trang khách hàng</a>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/Admin/Public/js/ChucNang.js"></script>
